:root{
    
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue:hsl(210, 46%, 95%);
    --font-family: 'Barlow Semi Condensed', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(210, 46%, 95%);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Daniel{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    background-size: 140px;
}
.Jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
.Kira{
    background-color: hsl(0, 0%, 100%);
}
.Jeneatte{
    background-color: hsl(0, 0%, 100%);
}

.Patrick{
    
    background-color:  hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}
img{
    max-width: 100%;
    border-radius: 50%;
}
.Patrick{
    color: hsl(0, 0%, 100%);;
}
.header{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.userinfo{
    padding-left:1.2rem;
}
.user-status{
    opacity: 50%;
}
.card-body{
    opacity: 70%;
    font-weight: 500;
    padding-top: 1.5rem;
}
.userinfo p.user-status,p.user-name{
    padding :0.17rem;
}
.card{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    padding: 2.7rem;
    display: flex;
    flex-direction: column;
    border-radius: .625rem;
}
@media (max-width:720px){
    .container{
        display: grid;
        grid-template-rows: 1fr;
        gap: 2rem;
        padding: 2rem;
        margin: auto;
    }
    .Daniel{
        background-position: 90% 0  ;
    }
    
}
@media (min-width:1024px) {
    
    .container{
        max-width: 1370px;
        padding: 7rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 1.5rem;
        font-family: 'Barlow Semi Condensed', sans-serif;
        margin: auto;  
    }
    .Daniel{
        grid-column: 1/3;
    }
    .Kira{
        grid-column-start: 4;
        grid-row:1/3 ;
    }
    .Patrick{
        grid-column: 2/4;
    }
    
         
}    

